<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="AppName" value="Yiff.io" />
    <add key="AppURL" value="http://yiff.io/" />
    <add key="RepoBackend" value="c:\\inetpub\\wwwroot\\yiff.io\\repo\\"/>
		<add key="RepoUpload" value="c:\inetpub\wwwroot\yiff.io\repo\upload\"/>
    <add key="RepoFrontend" value="http://yiff.io/repo/" />
  </appSettings>
</configuration>